@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('./global.css');

body{
    display: flex;
    flex-direction: column;
}


.filter{
    display: flex;
    gap: 3em;
    margin: 3em;
    align-items: center;
    justify-content: center;
}

.filter__title{
    font-size: 36px;
    font-weight: 400;
}

.filter__btn{
    font-size: 24px;
    color: var(--primary-color);
    background-color: var(--fifth-color);
    border: 0;
    padding: 0.5em 1em;
    border-radius: 30px;
    width: 140px;
    cursor: pointer;
}

.filter__btn:hover{
    opacity: 0.8;
}

.filter-search{
    display: flex;
    gap: 1%;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: none;
}

.filter-search-field{
    width: 40%;
    padding: 0.3em;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    border: 0.5px solid ;

}

.filter-search-btn{
    font-size: 20px;
    padding: 0.5em;
    font-family: var(--second-font);
    background-color: var(--second-color);
    border-radius: 10px;
    border: 0;
    cursor: pointer;
}

.filter-search-btn:hover{
    opacity: 0.8;
}

.birds-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3em;
}

.bird{
    background-color: var(--fourth-color);
    padding: 1em;
    margin-bottom: 1.5em;
    cursor: pointer;
}

.bird:hover{
    .delete-btn{
        display: block;
    }
    opacity: 0.9;
}

.bird__image{
    width: 314px;
    height: 213px;
}

.bird__info{
    padding: 0.3em;
}

.delete-btn{
    width: 6em;
    display: none;
    float:right;
    color: var(--primary-color);
    background-color: var(--fifth-color);
    border: 0;
    cursor: pointer;
    border-radius: 5px;
}

.delete-btn:hover{
    opacity: 0.7;
}

.clicked{
    background-color: var(--third-color);
}

.no-birds-message{
    display: flex;
    font-size: 30px;
    width: 100%;
    padding: 20%;
    justify-content: center;
    text-align: center;
}

@media screen and (max-width:1024px){
    .filter__btn{
        font-size: 16px;
    }

    .delete-btn{
        display: block;
    }

    .bird__image{
        width: 300px;
        height: 200px;
    }
}



